<section class="hero is-info is-large">
<div class="hero-head">
<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      <h1 class="title is-2"><strong>TÜTR</strong></h1>
    </a>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu">
    <span class="nav-item">
      <% if user_signed_in? %>
      <a class="button is-primary">
        <span class="icon icon-button">
          <%= image_tag(current_user.profile.avatar.url) %>
        </span>
        <span><%= link_to current_user.profile.name, profile_path(current_user.profile.id), class:"button is-primary" %></span>
      </a>
      <% end %>
    </span>
  </div>
</nav>
</div>
</span>
